{% extends "base.html" %}
{% block content %}

                <main class="main">
            <div class="container" >
                <div class="admin-datalist-page">
                    <div class="view-buttons" >
                        <a href="\" class="btn btn-primary-send float-l rates__btn">Клиенты</a>
                        <a href="\alphabetical_index" class="btn btn-primary-send float-r rates__btn">Алфавитный указатель</a>
                        </div>
                    <div class="row">
                        <form class="search-input"  id="filter-alpha" action="{% url 'alphabetical-index' %}" method="GET">
                            {{ filter.form.as_p }}
                            <button type="submit" class="btn btn-info">Применить</button>
                        </form>
                    </div>

                    <table class="table table-hover my-table">
                      <thead class="thead-inverse">
                        <tr>
                          <th>Имя</th>
                          <th>Фамилия</th>
                          <th>Отчество</th>

                        </tr>
                      </thead>
                      <tbody>
                           {% for client in page_objects %}
                               <tr>
                                  <td class="col-md-2">{{ client.username }}</td>
                                  <td class="col-md-2">{{ client.first_name }}</td>
                                  <td class="col-md-2">{{ client.last_name }}</td>

                               </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                    <nav class="text-right"  aria-label="">
                        <ul class="pagination">
                            {% if page_objects.has_previous %}
                            <li class="disabled"><a href="?page={{ page_objects.previous_page_number }}&{{ params }}"><</a></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                            <li {% if page_objects.number == i %} class="active" {% endif %}><a href="?page={{i}}&{{ params }}">{{i}}</a></li>
                            {% endfor %}
                            {% if page_objects.has_next %}
                            <li><a href="?page={{ page_objects.next_page_number }}&{{ params }}">></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </main>

{% endblock %}

