{% extends "base.html" %}

{% block content %}
<main class="main">
    <div class="container">
            <div class="view-buttons">
                <div class="row" >
                    <a href="/?{{ source_filter_page }}" class="btn btn-primary-send ">Назад</a>
                </div>
                <div class="content-box">
                        <div class="input-wrap ">
                            <label>Фамилия</label>
                            <input class="form-control"  value="{{ client_data.first_name }}" type="text" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label >Имя</label>
                            <input class="form-control"  value="{{ client_data.username }}" type="text" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label>Отчество</label>
                            <input class="form-control"  value="{{ client_data.last_name }}" type="text" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label>Должность</label>
                            <input class="form-control"  value="{{ client_data.position }}" type="text" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label>Отдел</label>
                            <input class="form-control"   value="{{ client_data.department }}" type="text" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label>Дата рождения</label>
                            <input class="form-control"    value="{{ client_data.born_date|date:"d-M-Y" }}" type="text" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label >E-mail</label>
                            <input class="form-control"  class="form-control" value="{{ client_data.email }}" type="text" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label >Номер телефона</label>
                            <input class="form-control"  type="text"  value="{{ client_data.phone_number }}" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label >Дата начала работы</label>
                            <input class="form-control"  type="text"  value="{{ client_data.start_work_date|date:"d-M-Y"  }}" readonly>
                        </div>
                        <div class="input-wrap ">
                            <label>Дата окончания работы</label>
                            <input class="form-control"  type="text"  value="{{ client_data.end_work_date|date:"d-M-Y"  }}" readonly>
                        </div>
                </div>
            </div>
    </div>
</main>
{% endblock %}