
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    {% block content %}
<div class="main" style="margin-top: 10px;">
    <div class="container" style="animation-name: fade-in;animation-duration: 2s;">
      <div class="row admin-content">
            <main class="main rates">
        <div class="container">
            <div class="admin-datalist-page">
                <div class="view-buttons" style="margin-top: 0px;">
                    <a class="btn btn-primary-send float-l rates__btn">Клиенты</a>


                </div>
                <div class="table" style="min-height: 400px;">
                    <div class="row header">
                        <ul>
                            <li><a href="#0">Имя</a></li>
                            <li><a href="#0">Фамилия</a></li>
                            <li><a href="#0">Отчество</a></li>
                            <li><a href="#0">Должность</a></li>
                            <!--<li><a href="#0">Отдел</a></li>-->
                        </ul>
                    </div>


                    <div id="tableRows">
                                        {% for client in clients_list %}
                                            <!--<div class="row">-->
                                                <a href="/client/{{ client.id }}/" class="row">
                                                <ul>
                                                    <li>{{ client.username }}</li>
                                                    <li>{{ client.first_name }}</li>
                                                    <li>{{ client.last_name }}</li>
                                                    <li>{{ client.position }}</li>
                                                    <!--<li>{{ client.departament_id. }}</li>-->
                                                     <!--<a href="/accesses/access/{{ access.id }}/">edit</a>-->
                                                </ul>
                                                <div class="icon-arrow"></div>
                                                </a>
                                            <!--</div>-->
                                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .main -->
{% endblock %}

