.btn.btn-primary-send {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 0 2px #1b073a;
    -moz-box-shadow: inset 0 0 0 2px #1b073a;
    -o-box-shadow: inset 0 0 0 2px #1b073a;
    box-shadow: inset 0 0 0 2px #23D7F5;
    background-color: #23D7F5;
    color: #fff;
}
.btn.btn-primary-send:hover {
    background-color: transparent;
    color: #23D7F5;
}
.pagination .pagination-list li.active {
    color: #fffdfd;
    background-color:#1b073a;
    border-radius: 5px;
}

.admin-datalist-page .table-footer .pagination .pagination-list li {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: unset;
    border: none;
    color: rgba(255, 244, 253, 0);
    display: inline-block;
    margin: 0 3px;
    border-radius: 5px;
}
.admin-datalist-page .control-box {

    -webkit-box-shadow: 0 0 20px #e7e7e7 !important;
    -moz-box-shadow: 0 0 20px #e7e7e7 !important;
    -o-box-shadow: 0 0 20px #e7e7e7 !important;
    box-shadow: 0 0 20px #e7e7e7 !important;
    background-color: #fff !important;
    margin: 0;
    padding: 10px;
    position: relative;


}
.admin-datalist-page .view-buttons {

    display:  inline-block  !important;
    margin-top: 0px  !important;
    width: 0%  !important;
    margin-bottom: 5px;
}

.admin-datalist-page .control-box .search-input {
    max-width: 350px;
}

.btn.btn-find::before, .btn.btn-search {
    background-image: url(../img/icon-loop.svg);
    background-size: 30px auto;
    height: 60px;
    width: 60px;
    vertical-align: top;
}

.admin-datalist-page .control-box .search-input .btn {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #e7e7e7;
    background-size: 50%;
    border-color: #e7e7e7;
    box-shadow: none;
    color: #999;
    height: 36px;
    margin: 0;
    padding: 5px;
    position: absolute;
    right: -2px;
    top: 9px;
    width: 36px;
}


#filter-form p input{
    float: left;
    clear: left;
    border-color: gray;
}
#id_department select{
    visibility: visible;
background: 0 0;border: 1px solid rgba(255,255,255,.4);border-top-color: rgba(255, 255, 255, 0.4);border-right-color: rgba(255, 255, 255, 0.4);border-bottom-color: rgba(255, 255, 255, 0.4);border-left-color: rgba(255, 255, 255, 0.4);color: #181515;font-size: 2rem;font-weight: 100;line-height: 20px;padding: 5px 20px;width: calc(100% - 42px);

}
#filter-form p {
    display: inline-block;
    float: left;
    margin-left: 45px;
}
#filter-form{
    margin: 0;
    display: inline-block;
    max-width: 900px;
    max-height: 55px;
}